.idea/*
__pycache__/*
keras/img/train/*
keras/img/style/feature/*
keras/img/test/transformed/*
keras/model/*
keras/__pycache__/*
style_transform/__pycache__/*
style_transform/model/*

video/.idea/*
video/cmake-build-debug/*